#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
}
body{
    background-image: linear-gradient(to right top, #8f27f0, #ae1ff0, #7c33f1, #9028f1, #6126ec);
}